@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Modal Keyframes
@keyframes modal-background-fade-in {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}

@keyframes modal-background-fade-out {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }
    100% {
        background: rgba(0, 0, 0, 0);
    }
}

@keyframes modal-fade-in {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: white;
    }
}

@keyframes modal-fade-out {
    0% {
        background-color: white;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes modal-content-fade-in {
    0% {
        opacity: 0;
        top: -20px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes modal-content-fade-out {
    0% {
        opacity: 1;
        top: 0px;
    }
    100% {
        opacity: 0;
        top: -20px;
    }
}

@keyframes modal-sketch-in {
    0% {
        stroke-dashoffset: 778;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes modal-sketch-out {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 778;
    }
}
